#!/bin/bash

############################################################################################
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Kernel Source:
# git clone <your_repo_link> -b <branch>
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
############################################################################################

VARI="meme_hos"

##############################################
# Toolchains
# Find more on https://kali.download/nethunter-images/toolchains/
##############################################
# Toolchain root directory
TD=~/android/toolchains

# Architecture (arm or arm64)
export ARCH=arm64
export SUBARCH=arm64

# Speed up the build
CCACHE=true

### Recommended arm64 compiler (don't comment out as it will be always needed)
# Clang
export CLANG_ROOT=${TD}/zyc_clang-23.0.0
export CLANG_PATH=${CLANG_ROOT}/bin
export PATH=${CLANG_PATH}:${PATH}
export LD_LIBRARY_PATH=${CLANG_ROOT}/lib64:$LD_LIBRARY_PATH
export CLANG_TRIPLE=aarch64-linux-gnu-
## "CC=clang" cannot be exported - we'll pass it to make in the function make_kernel if "CC" is set to "clang" 
CC=clang
## Source repository:
CLANG_SRC="https://github.com/ZyCromerZ/Clang/releases/download/23.0.0git-20260130-release/Clang-23.0.0git-20260130.tar.gz"
CLANG_SRC_TYPE="wget"

# GCC 32bit (arm) source
unset CROSS_COMPILE_ARM32
unset CCD32
unset CROSS_COMPILE_ARM32_SRC
export CROSS_COMPILE_ARM32=arm-linux-gnueabi-

# GCC 64bit (arm64) source
unset CROSS_COMPILE
unset CCD
unset CROSS_COMPILE_SRC
export CROSS_COMPILE=aarch64-linux-gnu-

# Kernel local name
export LOCALVERSION="-Nh-Hiura"


##############################################
# Environment
##############################################

# Fake version for GKI >=5.4
TARGET_FAKE_VERSION=5.4.302

# Build config
CONFIG=stone_defconfig

# Anykernel zip name
ANY_ARCHIVE="${LOCALVERSION#-}-Kernel-stone-$VARI-$(date +%Y%m%d).zip"

# Kernel Image
IMAGE_NAME=Image

# Path to compiled kernel image
KERNEL_IMAGE=$BUILD_DIR/out/arch/$ARCH/boot/$IMAGE_NAME

# Anykernel zip directory
ANYKERNEL_DIR=$KDIR/AnyKernel3

# Additional compiler arguments
MAKE_ARGS="HOSTCC=clang HOSTCXX=clang++ LD=ld.lld \
  READELF=llvm-readelf HOSTAR=llvm-ar AR=llvm-ar AS=llvm-as \
  NM=llvm-nm OBJCOPY=llvm-objcopy OBJDUMP=llvm-objdump \
  STRIP=llvm-strip"

# Some devices will have mismatch, to ignore errors uncomment the following line
#MAKE_ARGS="CONFIG_NO_ERROR_ON_MISMATCH=y"
